doctype html
html(lang="jp")
  head
    meta(charset="UTF-8")
    title アンケート
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-BLQERPQ4P0"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-BLQERPQ4P0');
</script>
  body
    h1 どちらが食べたいですか？
    form(method="post" action=path)
      span 名前:
      input(type="text" name="name")
      input(type="radio" name="favorite" value=firstItem)
      span #{firstItem}
      input(type="radio" name="favorite" value=secondItem)
      span #{secondItem}
      button(type="submit") 投稿